.wrapper {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
}

.search-box form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

#mapid { 
    height: 340px; 
}

.organization {
    list-style-type: disc;
}

li {
    list-style-type: none;
}

