* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
      ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    background-color: rgb(198, 210, 253);
  }
  
  /* Page Layout */
  .columns {
    display: flex;
    flex-wrap: wrap;
  }
  
  .wrapper {
    display: flex;
  }
  .container {
    max-width: 960px;
    margin-top: 25px;
  }

  .heading {
    background-color: rgb(253, 203, 210);
    width: 1100px;
    align-items: center;
    justify-content: flex-start;
    display: inline-block;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 5px;
    margin: 20px 25px;
  }

  .submit-box {
    background-color: rgb(223, 150, 252);
    display: inline-block;
    border-radius: 4px;
    padding: 20px 10;
    align-items: baseline;
  }

  .questions {
      justify-content: space-between;
  }

  .form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row label {
    margin-bottom: 15px;
  }

  .food-preference {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .food-preference label {
    margin-bottom: 15px;
  }

  .legacy-form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .legacy-form-row label {
    margin-bottom: 15px;
  }
